body {
  background-image: url('../static_dir/pictures/backgrounds/cork.jpg');
/*  padding-bottom: 25px;*/
}

#newtacpic {
  background-image: url('../static_dir/pictures/newtack.png');
  width: 300px;
  height: 110px;
  float: right;
  background-size: 300px 110px;
  margin-right: 50px;
  margin-top: 30px;
}

#newtacpic:hover {
  background-image: url('../static_dir/pictures/newtackhover.png');
  background-position:0 0px; 
}

button {
  width: 100px;
  height: 30px;
  border-radius: 15px;
  border: none;
  color: white;
  font-size: 100%;
  font-family: "Oswald", sans-serif;
  background-color: #4A1212;
  margin-top: 5px;
  
}

button:hover {
  opacity: .8;
}

h1, h2 {
  font-family: "Coming Soon", cursive;
}

input {
  border: solid 1px black;
  border-radius: 10px;
  height: 30px;
  width: 180px;
  opacity: .3;
}

a {
  text-decoration: none;
}

textarea {
  border: solid 1px black;
  border-radius: 10px;
  opacity: .3;
  margin: 10px auto;
  margin-top: 20px;
  font-family: "Coming Soon";
  resize: none;
}

/*       IDs       */

#header {
  text-align: center;
  width:800px;
  height: 165px;
  background-image: url(../static_dir/pictures/paper/torn-lined-paper.png);
  padding: 42px 0px;
  margin-top: 80px;
  margin-left: auto;
  margin-right: auto;
  -ms-transform: rotate(-8deg); /* IE 9 */
  -webkit-transform: rotate(-8deg); /* Chrome, Safari, Opera */
  transform: rotate(-8deg);
  z-index: 1;
  position: absolute;
  font-family: 'Londrina Shadow', cursive;
  display: block;
}

#dashheader {
  text-align: center;
  width:800px;
  height: 225px;
  background-image: url(../static_dir/pictures/paper/torn-lined-paper.png);
  padding: 15px;
  margin-top: 120px;
  margin-left: 650px;
  -ms-transform: rotate(10deg); /* IE 9 */
  -webkit-transform: rotate(10deg); /* Chrome, Safari, Opera */
  transform: rotate(10deg);
  z-index: 1;
  
}

#intro {
  z-index: -20;
  margin-top:50px;
  margin-left: 0;
  margin-right: 0;
  width: 950px;
  height: 600px;
  float: left;
  background-image: url('../static_dir/pictures/backgrounds/red-texture.jpg');
/*    background-size: contain;*/
  background-repeat: no-repeat;
  -ms-transform: rotate(3deg); /* IE 9 */
  -webkit-transform: rotate(2deg); /* Chrome, Safari, Opera */
  transform: rotate(2deg);
  box-shadow: 10px 10px 100px #222;
}

#description {
  width: 400px;
  height: 300px;
  float: left;
  margin-top: 250px;
  margin-left: 100px;
  -ms-transform: rotate(-2deg); /* IE 9 */
  -webkit-transform: rotate(-2deg); /* Chrome, Safari, Opera */
  transform: rotate(-2deg);
  font-family: 'Coming Soon';
  font-size:1.4em;
  text-align: center;
  float: left;
  padding-right: 30px;
  padding-top: 80px;
}

#new_user {
  width: 300px;
  height: 300px;
  float: left;
  margin-top: 250px;
  -ms-transform: rotate(-2deg); /* IE 9 */
  -webkit-transform: rotate(-2deg); /* Chrome, Safari, Opera */
  transform: rotate(-2deg);
  font-family: 'Coming Soon', cursive;
  font-size:1.4em;
  text-align: right;
  padding-right: 30px;
  padding-left: 50px;
  border-left: solid black;
  border-left: solid black;
}

#login_form {
  padding: 40px;
  margin-right: auto;
  margin-left: auto;
  z-index: 10;
}

#postit {
  width: 345px;
  position: absolute;
  z-index: -1;
  shadow: 10px;
}

#login {
  position: absolute;
  z-index: 100;
  margin-left: 900px;
  -ms-transform: rotate(6deg); /* IE 9 */
  -webkit-transform: rotate(6deg); /* Chrome, Safari, Opera */
  transform: rotate(6deg);
}

#footer {
  float: bottom;
  text-align: center;
}

#footer a {
  text-decoration: none;
  color: #000;
  opacity: 0.7;
}

#footer a:hover {
  text-decoration: underline;
  color: #000;
  opacity: 1;
}

#already {
  margin-left: 50px;
  margin-top: 80px;
  padding-left: 35px;
  padding-right: 25px;
  text-align: center;
  font-family: 'Oswald';
  
}

#header p {
  float: left;
  font-family: "Londrina Shadow";
  font-size: 3.2em;
/*  font-weight: bold;*/
  color: #613535;
  text-align: center;
}

#logoSmall {
  position: absolute;
}

#logo {
  margin-right: auto;
  margin-left: auto;
  margin-top: 35px;
}

#googleLogo {
  padding: 200;
  margin-left: 7%;
  width: 400px;
  height: 390px;
  text-align: left;
  margin-bottom: 50px;
  margin-top: 75px;
  float: left;
}

#tabs {
  position: absolute;
  width: 600px;
  -ms-transform: rotate(-8deg); /* IE 9 */
  -webkit-transform: rotate(-8deg); /* Chrome, Safari, Opera */
  transform: rotate(-8deg);
  margin-top: 40px;
  z-index: -2;
  margin-left: 100px;
  height: 100px;
}

#tabs li {  
  display: inline;
  list-style-type: none;
  width: 100px;
  height: 100px;
  position: relative;
  opacity: 0.6;
  margin-left: auto;
  margin-right: auto;
}

#tabs li:hover {
  opacity: 0.8;
}

#name {
  float: left;
  padding-left: 100px;
}

.dashboardBody {
  margin-left: 125px;
/*  margin-right: auto;*/
  margin-top: 350px;
  padding-bottom: 50px;
  position: absolute;
  float: right;
  width: 80%;
  height: 800;

}

#newTack {
  background-image: url('pictures/backgrounds/yellow_paper_seamless.jpg');
  background-repeat: repeat;
  background-size: contain;
  font-family: "Coming Soon";
  line-height: 10%;
  border: double 3px #a68b35;
  border-radius: 3px;
  box-shadow: 5px 5px 3px #222;
  width: 325px;
  padding: 10px 25px;
  float: left;
  display: block;
  clear: left;
  text-align: center;
  margin: 0 10px 25px 250px;
}

/*        Buttons       */

.dashboardButtons {
  opacity: 0.3;
}

.dashboardButtons:hover {
  opacity: 1.0;
}

.dashboardButtons1 {
    float: right;
  opacity: 0.8;
}

.dashboardButtons1:hover {
  opacity: 1.0;
}

.postButtons {
/*  float: right;*/
  position: absolute;
  top: 10px;
  right: 10px;
/*  text-align: right;*/
}

#newPost {
/*  padding-right: 35%;*/
  margin-left: 650px;
/*  margin-top: 5px;*/
}

#addNewPost {
  background-color: #B3B3B3;
  text-decoration: none;
  color: #646464;
  display: block;
  box-shadow: 5px 5px 7px #222;
  border: double 3px gray;
  float: left;
  /*margin-top: 125px;
  margin-right: 15px;*/
  padding: 25px;
  padding-bottom: 15px;
  display: block;
  opacity: 0.9;
  text-align: center;
}

#addNewPost:hover {
  opacity: 1.0;
  display: inline;
}

#logoutButton {
  position: fixed;
  left: 675px;
  top: 25px;
}

#fb {
/*  float: left;*/
  position: fixed;
  top: -50px;
  left: 50px;
}


/*        Classes       */

.test {
  background-color: white;
  border: 5px solid green;
  border-radius: 30px;
  width: 300px;
  height: 250px;
  padding-top: 50px;
  text-align: center;
  float: left;
  margin-right: 10px;
}

.test2 {
  background-color: white;
  border: 5px solid green;
  border-radius: 30px;
  width: 300px;
  height: 250px;
  padding-top: 50px;
  text-align: center;
  float: left;
  margin-top: 400px;  
}

.big {
  font-family: 'Source Sans Pro', sans-serif;
  size: 2em;
}

.center {
  margin-left: auto;
  margin-right: auto;
  margin-top: 75px;
  position: relative;
  width: 1000px;
  height: 800;
}

.center1 {
  margin: auto;
  position: absolute;
  width: 1000px;
  height: 800;
}

.red {  
  background-image: url('pictures/tabs/red-left-tab.png');
  background-repeat: no-repeat;
  background-size: contain;
  padding-top: 10px;
  padding-bottom: 50px;
  padding-left: 30px;
  padding-right: 80px;
}
  
.turquoise {  
  background-image: url('pictures/tabs/turquoise-center-tab.png');
  background-repeat: no-repeat;
  background-size: contain;
  padding-top: 10px;
  padding-bottom: 50px;
  padding-left: 50px;
  padding-right: 80px;
}

.pink {  
  background-image: url('pictures/tabs/pink-right-tab.png');
  background-repeat: no-repeat;
  background-size: contain;
  padding-top: 10px;
  padding-bottom: 50px;
  padding-left: 70px;
  padding-right: 40px;
}  



/*        Developers page       */

.devBioContent {
  padding: 0 25px;
  text-align: center;
  font-family: "Open Sans";
  font-size: 14px;
  
}
  
.devBio {
  background-image: url('pictures/paper/settings-options-paper.jpg');
  box-shadow: 10px 10px 100px #222;
  width: 400px;
  height: 390px;
  text-align: left;
  float: left;
  margin-right: 40px;
  margin-bottom: 40px;
  list-style: none;
}

.devBiosBody {
  margin-left: 125px;
/*  margin-right: auto;*/
  margin-top: 375px;
  position: absolute;
  float: right;
  width: 1400px;
  height: 800;
}

.devBiosBody h1 {
  padding-top: 20px;
  text-align: center;
}


/*        extras page       */


#rock{
	position: absolute;
	top: 100px;
	left: -90px;
}

#zerg{
	position: absolute;
	top: 350px;
	left: 250px;
}

#google{
	position: absolute;
	top: 150px;
	left: 600px;
}

#life{
	position: absolute;
	top: 0px;
	left: 1050px;
}

#question{
	position: absolute;
	top: 300px;
	left: 900px;
}

#lollipop{
	position: absolute;
	top: 10px;
	left: 350px;
}

#shark{
	position: absolute;
	top: -320px;
	left: 1000px;
}

#cornify {
	position: absolute;
	top: -100px;
	left: 750px;
}


/*        Notes       */

.noteBody {
  width: 250px;
  height: 250px;
/*  background-image: url('pictures/paper/gray_construction_paper_seamless.jpg');*/
/*  background-repeat: repeat;*/
  background-color: lightyellow;
  box-shadow: 5px 5px 7px #222;
  border: double 3px gray;
  float: left;
/*  margin-right: 15px;*/
  padding: 1% 2% 2% 2%;
  display: block;
  word-wrap: break-word;
  overflow: auto
}

.noteBody h3 {
  text-align: center;
}


.listBody {
  max-width: 300px;
  background-image: url('pictures/paper/lined-paper.png');
  background-repeat: repeat;
  box-shadow: 5px 5px 7px #222;
  border: double 3px gray;
  float: left;
  margin-right: 15px;
  padding: 1% 2% 2% 2%;
  display: block;
  line-height: 130%;
  font-family: "Coming Soon";
}

.listBody h3 {
  text-align: center;
}



/*       Fonts       */
.oswald {
  font-family: 'Oswald', sans-serif;
  font-size: 1.2em;
  color: #4A1212;
}

.oswald2 {
  font-family: 'Oswald', sans-serif;
  color: white;
  opacity: .3;
  font-size: 1.7em;
    
}

.oswald3 {
  font-family: 'Oswald', sans-serif;
  font-size: 1em;
  color: #4A1212;
}

.coming {
  font-family: 'Coming Soon';
  font-size: 2em;
}

.oswald10 {
  font-family: 'Oswald', sans-serif;
  font-size: 1.2em;
  color: black;
  text-align: center;
}

.comingsoon {
  font-family: "Coming Soon", cursive;
}

#calligraffitti {
  font-family: "Calligraffitti";
/*  display: block;*/
  
}

#justMeAgain {
  font-family: "Just Me Again Down Here";
  font-size: 20px;
/*  display: block;*/
}

#nothingYouCouldDo {
  font-family: "Nothing You Could Do";
/*  display: block;*/
}



.floatLeft {
  float: left;
  margin-top:40px;
  padding-left: 35px;
}

.button {
  border-radius: 50%;
  width: 175px;
  height: 175px;
  background-color: white;
  background-size: 175px 175px;
  cursor: move;
  float: left;
  display: block;
  margin-left: 20px;
  box-shadow: 5px 5px 25px #222 inset,
              4px 2px 20px #222;
  /* width and height can be anything, as long as they're equal */
}

.flipped {
  float: right;
  width: 250px;
  height: 250px;
  text-align: center;
  background-color: darkgrey;
  border-radius-left: -100px;
  border-bottom-right-radius: 60px 5px;
  margin-right: auto;
  margin-left: auto;
  box-shadow: 4px 2px 20px #222;
/*  word-wrap: break-word;*/
  overflow: auto;
  font-family: 'Coming Soon';
  cursor: default;
/*     ^^ will allow for scrollbar if necessary */
}

.back table {
  margin: 0px auto 15px auto;
}

.back td {
  margin: 5px auto;
/*  padding: 3px;*/
  border: thin solid gray;
  width: 75px;
  font-size: 14px;
  background-color: lightgray;
}

.back td:hover {
  border: solid black 1px;
  cursor: pointer;
}


.postit{
  float: left;
  width: 250px;
  height: 250px;
  text-align: center;
  background-color: lightyellow;
  border-radius-left: -100px;
  border-bottom-right-radius: 60px 5px;
  box-shadow: 4px 2px 20px #222;
  word-wrap: break-word;
  overflow: auto;
  font-family: 'Coming Soon';
  margin-left: 10px;

/*  ^^ will allow for scrollbar if necessary */
}



.postit:hover {
  cursor: move;
}

.postit a:hover, #noteTextContent:hover {
  cursor: default;
}

.colorBox {
  width: 25px;
  height: 25px;
  float: left;
  margin-left: 15px;
  text-align: center;
  border: solid grey 1px;
  z-index: 100;}

.colorBox:hover {
  border: thin solid black;
  cursor: pointer;
  z-index: 5;
}

#noteTextContent {
  max-width: 200px;
  height: 150px;
  margin-right: auto;
  margin-left: auto;
  text-align:center;
}


    
#redColorBox
{background-color: lightpink;}

#greenColorBox
{background-color: #94D4A9;}
    
#yellowColorBox {
  background-color: rgb(255,255,136);
  margin-left: 52px;
  }

#blueColorBox {
  background-color: lightblue;
}
    
#inNoteButtons {
  text-align: right;
  margin-top: 10px;
  margin-right:15px;}
  

  .note_container {
      z-index: 2;
      cursor: move;
  }
    .block {
      position: relative;
      float: left;
    	height: 260px;
    	width: 320px;
    	-webkit-transform-style: preserve-3d;
    	-webkit-transition: -webkit-transform 1.5s;
    }

    .rotated {
      position: relative;
      float: left;
    	height: 260px;
    	width: 320px;
    	-webkit-transform-style: preserve-3d;
    	-webkit-transition: -webkit-transform 1.5s;
    }


    .rotated, .mover .block:hover{
    	-webkit-transform: rotateY(180deg);
    }
     
    /* post-it side is visible */
    .block .front{
    }

    /* color side is hidden */
    .rotated .front {
      display: none;
    }

    /* color side is visible */
    .rotated .back{
    }
    
    /* post-it side is hidden */
    .block .back {
        display: none;
    }
    
    
    .rotated .back, .mover .block:hover .back{
    	/*z-index: 99;*/
    }


    .side{
    	position: absolute;	
    	-webkit-backface-visibility: hidden;
    }

    .front{
        width: 250px;
        height: 250px;
        padding-bottom: 10px;
        text-align: center;
        background-color: lightyellow;
        border-radius-left: -100px;
        border-bottom-right-radius: 60px 5px;
        box-shadow: 4px 2px 20px #222;
        word-wrap: break-word;
        overflow: auto;
        font-family: 'Coming Soon';
        cursor: move;
        position: absolute;
        /*z-index: 0;*/
        
    }
    #front img{ }

    .back{
        margin-left: 0px;
        padding-bottom: 10px;
        width: 250px;
        height: 250px;
        text-align: center;
        background-color: darkgrey;
        border-radius-left: -100px;
        border-bottom-right-radius: 60px 5px;
        box-shadow: 4px 2px 20px #222;
        word-wrap: break-word;
        overflow: auto;
        font-family: 'Coming Soon';
        position: absolute;
        /*z-index: 100;*/
	
    	-webkit-transform: rotateY(180deg);
    }

    .wrapper{
    	position:relative;
    	-webkit-backface-visibility: hidden;
    }
    .goback{
    	position: relative;
    	-webkit-backface-visibility: hidden;
    }
    .goback:hover{
    	cursor: pointer;
    }
    .goback:before{
    	width: 0;
    	height: 0;

    	position: absolute;
    	content: "";
    	left: -10px;
    	top: 0px;
	
    	-webkit-backface-visibility: hidden;
    }

#opening {
  position: fixed;
  top: 350;
  left: 250;
  margin-top: 350px;
  margin-left: 320px;
  padding: 25px;
  text-align: center;
}

/*#tacadd {margin-top: 320px;
margin-left: 360px;}

#buttonadd
{margin-left: 415px;
    margin-top: 15px;}

    #noteadd
    {margin-left: 100px;
        margin-top: 10px;}*/
        
#buttonaddtxt
{display: none;}

#noteaddtxt
{display: none;}

#buttonadd:hover {
  background-color: rbga(255,255,255,.8);
  cursor: pointer;
}

#cursorClick:hover, #noteadd:hover{
  cursor: pointer;
}

.front1{
  position: absolute;
  width: 320px;
  height: 280px;
  background-color: lightyellow;
  border-radius-left: -100px;
  border-bottom-radius: 60px 5px;
  box-shadow: 4px 2px 20px #222;
  margin-top: 330px;
  margin-left: 40%;
  padding: 10px 0px;
  text-align: center;
}

#newButtonAdd {
  border: none;
  width: 200px;
  height: 200px;
  margin-top: 350px;
  margin-left: 40%;
  position: absolute;
}

.arrowBack{
  position: absolute;
  top: 600px;
/*  left: 550px;*/
  margin-left: 35%;
}

#postImage {
  background-color: #CCC;
  text-align: center;
  border-radius: 10px;
  padding: 10px 0;
}